<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/isdb/Descriptor.vm

const data = (await select(`
  PREFIX obo: <http://purl.obolibrary.org/obo/>
  PREFIX isdb: <https://idsm.elixir-czech.cz/rdf/isdb/>
  PREFIX sio: <http://semanticscience.org/resource/>

  SELECT ?value ?unit FROM isdb: WHERE
  {
    ?entity sio:SIO_000300 ?value.

    OPTIONAL
    {
      ?entity sio:SIO_000221 ?unit_type.
      VALUES (?unit_type ?unit)
      {
        (obo:UO_0000055 "g/mol")
      }
    }
  }
`, [{ entity }])).at(0)

const label = `${data?.value?.value ?? ''} ${data?.unit?.value ?? ''}`.trim() ?? uriToLabel(entity.value)
%>

<a href="<%= entity.value %>"><%= label %></a>