<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/isdb/TypedDescriptor.vm

const typeData = (await select(`
  PREFIX dataset: <http://bioinfo.iocb.cz/dataset/>
  PREFIX isdb: <https://idsm.elixir-czech.cz/rdf/isdb/>
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

  SELECT ?type ?label FROM isdb: FROM dataset:ontology WHERE
  {
    ?entity rdf:type ?type .
    ?type rdfs:label ?label .
  }
`, [{ entity }])).at(0)
%>

<span class="column">
  <a href="<%= entity.value %>"><%= await label(entity) %></a>
  <% if (typeData) { %>
  <small>
    <a href="<%= typeData.type.value %>"><%= typeData.label.value %></a>
  </small>
  <% } %>
</span>