<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/page/pubchem/Reference.vm

const title = (await select(`
  PREFIX dcterms: <http://purl.org/dc/terms/>
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>

  SELECT ?title FROM pubchem:reference WHERE
  {
    ?entity dcterms:title ?TITLE
  }
`, [{ entity }])).at(0)?.title

const citationVisualisations = (await select(`
  PREFIX dcterms: <http://purl.org/dc/terms/>
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>

  SELECT ?citation FROM pubchem:reference WHERE
  {
    ?entity dcterms:bibliographicCitation ?citation
  }
`, [{ entity }])).map(b => visualise(b.citation))
%>

<table>
  <tbody>
    <% if (title) { %>
    <tr>
      <th>Title</th>
      <td><%- await visualise(title) %></td>
    </tr>
    <% } %>
    <% if (citationVisualisations.length > 0) { %>
    <tr>
      <th>Citations</th>
      <td>
        <% for (const visualisation of citationVisualisations) { %>
        <%- await visualisation %>
        <% } %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>