<% // Details template for property visualisation

const propertyLimit = 500

const properties = entity.termType === 'NamedNode' ? await select(`
  SELECT DISTINCT ?property ?value WHERE {
    ?entity ?property ?value .
  } LIMIT ${propertyLimit}
`, [{ entity }]) : []

properties.sort((a, b) => a.property.value < b.property.value ? -1 : 1)

const visualisationPromises = properties.map(p => ({
  key: visualise(p.property),
  value: visualise(p.value),
}))
%>

<% if (visualisationPromises.length > 0) { %>
<h1>Properties</h1>
<table>
  <tbody>
    <% for (const { key, value } of visualisationPromises) { %>
    <tr>
      <th>
        <%- await key %>
      </th>
      <td>
        <%- await value %>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>

<% if (visualisationPromises.length === propertyLimit) { %>
<p>Only the first <%= propertyLimit %> properties are displayed for performance reasons. Please run a full query on the
  subject to access more properties as needed.</p>
<% } %>
<% } %>