<% // Details template for type hierarchy visualisation

const entitiesWithoutLabels = [ entity ]

const parents = {
  [entity.value]: { id: entity.value, label: uriToLabel(entity.value) },
}

const hasDirectSuperClass = await ask(`
  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
  ASK WHERE {
    ?entity rdfs:subClassOf ?other .
  }
`, [{ entity }])

const hasDirectSubClass = await ask(`
  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
  ASK WHERE {
    ?other rdfs:subClassOf ?entity .
  }
`, [{ entity }])

let types = [ { value: entity } ]

if (!hasDirectSubClass && !hasDirectSuperClass) {
  types = await select(`
    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

    SELECT DISTINCT ?value ?label WHERE {
      ?entity rdf:type ?value .
      FILTER(!STRSTARTS(STR(?value), "http://blank/"))
    }
  `, [{ entity }])

  for (const bindings of types) {
    parents[bindings.value.value] = {
      id: bindings.value.value,
      label: uriToLabel(bindings.value.value),
      parentId: entity.value,
      relation: 'type',
    }
    entitiesWithoutLabels.push(bindings.value)
  }
}

const children = { ...parents }

if (types.length > 0 && types.length < 10) {
  const superTypes = await select(`
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

    SELECT DISTINCT ?type ?value ?label WHERE {
      ?type rdfs:subClassOf ?value .
      FILTER(?type != ?value && !STRSTARTS(STR(?value), "http://blank/"))
    }
  `, types.map(t => ({ type: t.value })))

  for (const bindings of superTypes) {
    parents[bindings.value.value] = {
      id: bindings.value.value,
      label: uriToLabel(bindings.value.value),
      parentId: bindings.type.value,
      relation: 'supertype'
    }
    entitiesWithoutLabels.push(bindings.value)
  }

  const subTypes = await select(`
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

    SELECT DISTINCT ?type ?value ?label WHERE {
      ?value rdfs:subClassOf ?type .
      FILTER(?type != ?value && !STRSTARTS(STR(?value), "http://blank/"))
    }
  `, types.map(t => ({ type: t.value })))

  for (const bindings of subTypes) {
    children[bindings.value.value] = {
      id: bindings.value.value,
      label: uriToLabel(bindings.value.value),
      parentId: bindings.type.value,
      relation: 'subtype'
    }
    entitiesWithoutLabels.push(bindings.value)
  }

  const labels = await select(`
    PREFIX dcterms: <http://purl.org/dc/terms/>
    PREFIX frapo: <http://purl.org/cerif/frapo/>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX sio: <http://semanticscience.org/resource/>
    PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
    PREFIX vcard: <http://www.w3.org/2006/vcard/ns#>

    SELECT DISTINCT ?entity ?label WHERE {
      ?entity dcterms:identifier|frapo:hasGrantNumber|vcard:fn|dcterms:title|skos:prefLabel|rdfs:label|sio:SIO_000300 ?label .
    }
  `, entitiesWithoutLabels.map(e => ({ entity: e })))

  for (const bindings of labels) {
    if (parents[bindings.entity.value]) {
      parents[bindings.entity.value].label = bindings.label.value
    }
    if (children[bindings.entity.value]) {
      children[bindings.entity.value].label = bindings.label.value
    }
  }
}

const output = { parents: Object.values(parents), children: Object.values(children) }
%>

<% if (types.length > 0) { %>
<h1>Type hierarchy sample</h1>
<span class="hierarchy"><%= JSON.stringify(output) %></span>
<% } %>