<% // Generic template for literals

const dataTypeLabel = (await select(`
  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

  SELECT DISTINCT ?label WHERE
  {
    ?type rdfs:label ?label
  }
`, [{ type: entity.datatype }])).at(0)?.label?.value ?? uriToLabel(entity.datatype.value)
%>

<span class="column">
  <%= entity.value %>
  <small>
    <a href="<%= entity.datatype.value %>"><%= dataTypeLabel %></a>
  </small>
</span>