<% // Generic template for URIs

const label = (await select(`
  PREFIX dcterms: <http://purl.org/dc/terms/>
  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
  PREFIX sio: <http://semanticscience.org/resource/>
  PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
  PREFIX vcard: <http://www.w3.org/2006/vcard/ns#>

  SELECT DISTINCT ?label WHERE
  {
    ?entity vcard:fn|dcterms:title|skos:prefLabel|dcterms:identifier|rdfs:label|sio:SIO_000300 ?label .
  }
`, [ { entity } ])).at(0)?.label?.value ?? uriToLabel(entity.value)
%>

<a href="<%= entity.value %>"><%= label %></a>