<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/page/isdb/Compound.vm

const descriptors = await select(`
  PREFIX isdb: <https://idsm.elixir-czech.cz/rdf/isdb/>
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX sio: <http://semanticscience.org/resource/>

  SELECT ?title ?value ?unit FROM isdb: WHERE
  {
    ?entity sio:SIO_000008 ?D.
    ?D rdf:type ?type.
    ?D sio:SIO_000300 ?value.
  }
  VALUES (?type ?title ?unit)
  {
    (sio:CHEMINF_000113 "IUPAC InChI" UNDEF)
    (sio:CHEMINF_000042 "molecular formula" UNDEF)
    (sio:CHEMINF_000018 "SMILES" UNDEF)
    (sio:CHEMINF_000217 "exact mass" "g/mol")
  }
`, [{ entity }])

const imageUrl = entity.value.replace(/.+\/(.+)_CMPD$/, 'https://idsm.elixir-czech.cz/chemweb/isdb/compound/svg?id=$1')
%>

<table>
  <tbody>
    <tr>
      <th>Structure</th>
      <td>
        <svg data-source="<%= imageUrl %>"></svg>
      </td>
    </tr>
  </tbody>
</table>

<% if (descriptors.length > 0) { %>
<h1>Descriptors</h1>
<table>
  <tbody>
    <% for (const descriptor of descriptors) { %>
    <tr>
      <th><%= descriptor.title.value %></th>
      <td class="prewrap"><%= descriptor.value.value %><%= descriptor.unit ? ` ${descriptor.unit.value}` : '' %></td>
    </tr>
    <% } %>
  </tbody>
</table>
<% } %>