<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/page/isdb/Spectrum.vm

const spectrumUrl = entity.value.replace(/.+\/(.+)_MS$/, 'https://idsm.elixir-czech.cz/chemweb/isdb/compound/spectrum?id=$1')
%>

<table>
  <tbody>
    <tr>
      <th>Spectrum</th>
      <td class="spectrum" data-source="<%= spectrumUrl %>"></td>
    </tr>
  </tbody>
</table>