<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/mesh/Mesh.vm

const label = (await select(`
  PREFIX mesh: <http://id.nlm.nih.gov/mesh/>
  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

  SELECT ?value FROM mesh:heading WHERE
  {
    ?entity rdfs:label ?value
  }
`, [{ entity }])).at(0)?.value?.value ?? uriToLabel(entity.value)

const typeData = (await select(`
  PREFIX dataset: <http://bioinfo.iocb.cz/dataset/>
  PREFIX mesh: <http://id.nlm.nih.gov/mesh/>
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

  SELECT ?type ?label FROM mesh:heading FROM dataset:ontology WHERE
  {
    ?entity rdf:type ?type .
    ?type rdfs:label ?label .
  }
`, [{ entity }])).at(0)
%>

<span class="column">
  <a href="<%= entity.value %>"><%= label %></a>
  <% if (typeData) { %>
  <small>
    <a href="<%= typeData.type.value %>"><%= typeData.label.value %></a>
  </small>
  <% } %>
</span>