<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/page/mona/Submitter.vm

const familyName = (await select(`
  PREFIX mona: <https://idsm.elixir-czech.cz/rdf/mona/>
  PREFIX vcard: <http://www.w3.org/2006/vcard/ns#>

  SELECT DISTINCT ?value FROM mona: WHERE
  {
    ?entity vcard:family-name|vcard:hasFamilyName ?value
  }
`, [{ entity }])).at(0)?.value?.value

const givenName = (await select(`
  PREFIX mona: <https://idsm.elixir-czech.cz/rdf/mona/>
  PREFIX vcard: <http://www.w3.org/2006/vcard/ns#>

  SELECT DISTINCT ?value FROM mona: WHERE
  {
    ?entity vcard:given-name|vcard:hasGivenName ?value
  }
`, [{ entity }])).at(0)?.value?.value

const organisation = (await select(`
  PREFIX mona: <https://idsm.elixir-czech.cz/rdf/mona/>
  PREFIX vcard: <http://www.w3.org/2006/vcard/ns#>

  SELECT DISTINCT ?value FROM mona: WHERE
  {
    ?entity vcard:organization-name|vcard:hasOrganizationName ?value
  }
`, [{ entity }])).at(0)?.value?.value

const email = (await select(`
  PREFIX mona: <https://idsm.elixir-czech.cz/rdf/mona/>
  PREFIX vcard: <http://www.w3.org/2006/vcard/ns#>

  SELECT DISTINCT ?value FROM mona: WHERE
  {
    ?entity vcard:hasEmail ?value
  }
`, [{ entity }])).at(0)?.value?.value

const name = `${givenName ?? ''} ${familyName ?? ''}`.trim()
%>

<% if (name || email || organisation) { %>
<table>
  <tbody>
    <% if (name) { %>
    <tr>
      <th>Name</th>
      <td><%= name %></td>
    </tr>
    <% } %>
    <% if (email) { %>
    <tr>
      <th>Email</th>
      <td>
        <a href="<%= email %>"><%= email.replace(/^mailto:(.+)$/, '$1') %></a>
      </td>
    </tr>
    <% } %>
    <% if (organisation) { %>
    <tr>
      <th>Organisation</th>
      <td><%= organisation %></td>
    </tr>
    <% } %>
  </tbody>
</table>
<% } %>