<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/pubchem/Author.vm

const nameData = (await select(`
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX vcard: <http://www.w3.org/2006/vcard/ns#>

  SELECT ?full_name ?family_name ?given_name FROM pubchem:author WHERE
  {
    ?entity vcard:fn ?value .
    OPTIONAL {
      ?entity vcard:given-name|vcard:hasGivenName ?given_name .
      ?entity vcard:family-name|vcard:hasFamilyName ?family_name .
    }
  }
`, [{ entity }])).at(0)

const name = nameData?.full_name?.value ??
  `${nameData?.given_name?.value ?? ''} ${nameData?.family_name?.value ?? ''}`.trim() ??
  await label(entity)
%>

<a href="<%= entity.value %>"><%= name %></a>