<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/pubchem/Book.vm

const data = (await select(`
  PREFIX dcterms: <http://purl.org/dc/terms/>
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>

  SELECT ?title ?publisher FROM pubchem:book WHERE
  {
    ?entity dcterms:title ?title .
    OPTIONAL { ?entity dcterms:publisher ?publisher }
  }
`, [{ entity }])).at(0)

const name = data ?
  [ data.title.value, data.publisher?.value?? '' ].filter(s => s.length > 0).join(', ') :
  await label(entity)
%>

<a href="<%= entity.value %>"><%= name %></a>