<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/pubchem/Compound.vm

const label = (await select(`
  PREFIX descriptor: <http://rdf.ncbi.nlm.nih.gov/pubchem/descriptor/>
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX sio: <http://semanticscience.org/resource/>

  SELECT ?value FROM pubchem:compound FROM descriptor:compound WHERE
  {
    ?entity sio:SIO_000008 ?D.
    ?D rdf:type sio:CHEMINF_000382.
    ?D sio:SIO_000300 ?value.
  }
`, [{ entity }])).at(0)?.value?.value ?? uriToLabel(entity.value)

const structuresExist = await ask(`
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX sio: <http://semanticscience.org/resource/>

  ASK FROM pubchem:compound WHERE
  {
    ?S rdf:type sio:SIO_011120.
    ?S sio:SIO_000011 ?entity.
    ?S sio:SIO_000300 ?V.
  }
`, [{ entity }])

const imageUrl = entity.value.replace(/.+\/CID(.+)$/, 'https://idsm.elixir-czech.cz/chemweb/pubchem/compound/svg?id=$1')
%>

<span class="row">
  <% if (structuresExist) { %>
  <svg data-source="<%= imageUrl %>"></svg>
  <% } %>
  <a href="<%= entity.value %>"><%= label %></a>
</span>