<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/pubchem/Gene.vm

const title = (await select(`
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX skos: <http://www.w3.org/2004/02/skos/core#>

  SELECT ?value FROM pubchem:gene WHERE
  {
    ?entity skos:prefLabel ?value
  }
`, [{ entity }])).at(0)?.value?.value ?? uriToLabel(entity.value)

const symbol = (await select(`
  PREFIX bao: <http://www.bioassayontology.org/bao#>
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX sio: <http://semanticscience.org/resource/>

  SELECT ?uri ?label FROM pubchem:gene WHERE
  {
    ?entity bao:BAO_0002870 ?uri .
    ?uri sio:SIO_000300 ?label .
  }
`, [{ entity }])).at(0)

const organism = (await select(`
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
  PREFIX up: <http://purl.uniprot.org/core/>

  SELECT ?uri ?label FROM pubchem:gene FROM pubchem:taxonomy WHERE
  {
    ?entity up:organism ?uri .
    ?uri skos:prefLabel ?label .
  }
`, [{ entity }])).at(0)

const label = [ symbol?.label?.value ?? '', title ].join(' ').trim()
%>

<span class="row">
  <a href="<%= entity.value %>"><%= label %></a>
  <% if (organism) { %>
  <small>
    <a href="<%= organism.uri.value %>"><%= organism.label.value %></a>
  </small>
  <% } %>
</span>