<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/pubchem/Grant.vm

const number = (await select(`
  PREFIX frapo: <http://purl.org/cerif/frapo/>
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>

  SELECT ?value FROM pubchem:grant WHERE
  {
    ?entity frapo:hasGrantNumber ?value
  }
`, [{ entity }])).at(0)?.value?.value

const agency = (await select(`
  PREFIX frapo: <http://purl.org/cerif/frapo/>
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX vcard: <http://www.w3.org/2006/vcard/ns#>

  SELECT ?uri ?name FROM pubchem:grant FROM pubchem:organization WHERE
  {
    ?entity frapo:hasFundingAgency ?uri .
    ?uri vcard:fn ?name .
  }
  ORDER BY DESC(STRLEN(?name))
`, [{ entity }])).at(0)
%>

<span class="column">
  <a href="<%= entity.value %>"><%= number ?? uriToLabel(entity.value) %></a>
  <% if (agency) { %>
  <small>
    <a href="<%= agency.uri.value %>"><%= agency.name.value %></a>
  </small>
  <% } %>
</span>