<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/pubchem/Pathway.vm

const organism = (await select(`
  PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX up: <http://purl.uniprot.org/core/>

  SELECT ?name ?organism FROM pubchem:pathway FROM pubchem:taxonomy WHERE
  {
    ?entity up:organism ?organism .
    ?organism skos:prefLabel ?name .
  }
`, [{ entity }])).at(0)
%>

<span class="column">
  <a href="<%= entity.value %>"><%= await label(entity) %></a>
  <% if (organism) { %>
  <small>
    <a href="<%= organism.organism.value %>"><%= organism.name.value %></a>
  </small>
  <% } %>
</span>