<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/pubchem/Pathway.vm

const label = (await select(`
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX dcterms: <http://purl.org/dc/terms/>

  SELECT ?value FROM pubchem:pathway WHERE
  {
    ?entity dcterms:title ?value .
  }
`, [{ entity }])).at(0)?.value?.value ?? uriToLabel(entity.value)

const organism = (await select(`
  PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
  PREFIX pubchem: <http://rdf.ncbi.nlm.nih.gov/pubchem/>
  PREFIX up: <http://purl.uniprot.org/core/>

  SELECT ?name ?organism FROM pubchem:pathway FROM pubchem:taxonomy WHERE
  {
    ?entity up:organism ?organism .
    ?organism skos:prefLabel ?name .
  }
`, [{ entity }])).at(0)
%>

<span class="column">
  <a href="<%= entity.value %>"><%= label %></a>
  <% if (organism) { %>
  <small>
    <a href="<%= organism.organism.value %>"><%= organism.name.value %></a>
  </small>
  <% } %>
</span>