<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/drugbank/Compound.vm

const imageUrl = entity.value.replace(/.+\/DB([0-9]+)$/, 'https://idsm.elixir-czech.cz/chemweb/drugbank/compound/svg?id=$1')
%>

<span class="row">
  <svg data-source="<%= imageUrl %>"></svg>
  <a href="<%= entity.value %>"><%= await label(entity) %></a>
</span>