<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/mona/Compound.vm

const label = (await select(`
  PREFIX mona: <https://idsm.elixir-czech.cz/rdf/mona/>
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX sio: <http://semanticscience.org/resource/>

  SELECT ?name FROM mona: WHERE
  {
    ?entity sio:SIO_000008 ?D.
    ?D rdf:type sio:CHEMINF_000043.
    ?D sio:SIO_000300 ?name.
  }
  ORDER BY ASC(strlen(?name))
  # TODO: fix batching to allow limits, then uncomment
  # LIMIT 1 
`, [{ entity }])).at(0)?.name?.value ?? uriToLabel(entity.value)

const structuresExist = await ask(`
  PREFIX mona: <https://idsm.elixir-czech.cz/rdf/mona/>
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX sio: <http://semanticscience.org/resource/>

  ASK FROM mona: WHERE
  {
    ?entity sio:SIO_000008 ?S.
    ?S rdf:type sio:SIO_011120.
    ?S sio:SIO_000300 ?V.
  }
`, [{ entity }])

const imageUrl = entity.value.replace(/.+\/(.+)_CMPD$/, 'https://idsm.elixir-czech.cz/chemweb/mona/compound/svg?id=$1')
%>

<span class="row">
  <% if (structuresExist) { %>
  <svg data-source="<%= imageUrl %>"></svg>
  <% } %>
  <a href="<%= entity.value %>"><%= label %></a>
</span>