<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/mona/Experiment.vm

const structuresExist = await ask(`
  PREFIX mona: <https://idsm.elixir-czech.cz/rdf/mona/>
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX sio: <http://semanticscience.org/resource/>

  ASK FROM mona: WHERE
  {
    ?entity sio:SIO_000230 / sio:SIO_000008 ?S.
    ?S rdf:type sio:SIO_011120.
    ?S sio:SIO_000300 ?V.
  }
`, [{ entity }])

const imageUrl = entity.value.replace(/.+\/(.+)_EXP$/, 'https://idsm.elixir-czech.cz/chemweb/mona/compound/svg?id=$1')
%>

<span class="row">
  <% if (structuresExist) { %>
  <svg data-source="<%= imageUrl %>"></svg>
  <% } %>
  <a href="<%= entity.value %>"><%= await label(entity) %></a>
</span>