<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/mona/Submitter.vm

const familyName = (await select(`
  PREFIX mona: <https://idsm.elixir-czech.cz/rdf/mona/>
  PREFIX vcard: <http://www.w3.org/2006/vcard/ns#>

  SELECT ?value FROM mona: WHERE
  {
    ?entity vcard:family-name ?value
  }
`, [{ entity }])).at(0)?.value?.value

const givenName = (await select(`
  PREFIX mona: <https://idsm.elixir-czech.cz/rdf/mona/>
  PREFIX vcard: <http://www.w3.org/2006/vcard/ns#>

  SELECT ?value FROM mona: WHERE
  {
    ?entity vcard:given-name ?value
  }
`, [{ entity }])).at(0)?.value?.value

const name = `${givenName ?? ''} ${familyName ?? ''}`.trim() ?? await label(entity)
%>

<a href="<%= entity.value %>"><%= name %></a>