<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/mona/TypedDescriptor.vm

const label = (await select(`
  PREFIX dataset: <http://bioinfo.iocb.cz/dataset/>
  PREFIX mona: <https://idsm.elixir-czech.cz/rdf/mona/>
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

  SELECT ?name FROM mona: FROM dataset:ontology WHERE
  {
    ?entity rdf:type / rdfs:label ?name .
  }
`, [{ entity }])).at(0)?.name?.value ?? uriToLabel(entity.value)
%>

<a href="<%= entity.value %>"><%= label %></a>