<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/wikidata/Compound.vm

const structuresExist = await ask(`
  PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  PREFIX cheminf: <http://semanticscience.org/resource/>
  PREFIX sio: <http://semanticscience.org/resource/>

  ASK WHERE
  {
    ?entity sio:SIO_000008 ?S.
    ?S rdf:type cheminf:CHEMINF_000018.
    ?S sio:SIO_000300 ?V.
  }
`, [{ entity }])

const imageUrl = entity.value.replace(/.+\/Q([0-9]+).*$/, 'https://idsm.elixir-czech.cz/chemweb/wikidata/compound/svg?id=$1')
%>

<span class="row">
  <% if (structuresExist) { %>
  <svg data-source="<%= imageUrl %>"></svg>
  <% } %>
  <a href="<%= entity.value %>"><%= await label(entity) %></a>
</span>