<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/wikidata/Compound.vm

const label = uriToLabel(entity.value)
const imageUrl = entity.value.replace(/.+\/Q([0-9]+).*$/, 'https://idsm.elixir-czech.cz/chemweb/wikidata/compound/svg?id=$1')
%>

<span class="row">
  <svg data-source="<%= imageUrl %>"></svg>
  <a href="<%= entity.value %>"><%= label %></a>
</span>