<% // Example for UniProt protein visualisations

const data = (await select(`
  PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
  PREFIX up: <http://purl.uniprot.org/core/>

  SELECT ?label ?organism ?organismName WHERE
  {
    ?entity rdfs:label ?label .
    ?entity up:organism ?organism .
    ?organism up:scientificName ?organismName .
  }
`, [{ entity }], 'https://sparql.uniprot.org/sparql')).at(0)
%>

<span class="column">
  <a href="<%= entity.value %>"><%= data.label.value %></a>
  <small>
    <a href="<%= data.organism.value %>"><%= data.organismName.value %></a>
  </small>
</span>