<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/chembl/BindingSite.vm

const name = (await select(`
  PREFIX cco: <http://rdf.ebi.ac.uk/terms/chembl#>
  PREFIX ebi: <http://rdf.ebi.ac.uk/dataset/>

  SELECT ?name FROM ebi:chembl WHERE
  {
    ?entity cco:bindingSiteName ?name
  }
`, [{ entity }])).at(0)?.name?.value ?? uriToLabel(entity.value)
%>

<a href="<%= entity.value %>"><%= name %></a>