<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/chembl/DrugIndication.vm

const mesh = (await select(`
  PREFIX cco: <http://rdf.ebi.ac.uk/terms/chembl#>
  PREFIX ebi: <http://rdf.ebi.ac.uk/dataset/>

  SELECT ?mesh FROM ebi:chembl WHERE
  {
    ?entity cco:hasMeshHeading ?mesh
  }
`, [{ entity }])).at(0)?.mesh
%>

<a href="<%= entity.value %>"><%= mesh?.value ?? entity.value %></a>