<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/chembl/Mechanism.vm

const description = (await select(`
  PREFIX cco: <http://rdf.ebi.ac.uk/terms/chembl#>
  PREFIX ebi: <http://rdf.ebi.ac.uk/dataset/>

  SELECT ?description FROM ebi:chembl WHERE
  {
    ?entity cco:mechanismDescription ?description
  }
`, [{ entity }])).at(0)?.description
%>

<a href="<%= entity.value %>"><%= description?.value ?? entity.value %></a>