<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/item/chembl/TargetComponent.vm

const description = (await select(`
  PREFIX ebi: <http://rdf.ebi.ac.uk/dataset/>
  PREFIX dcterms: <http://purl.org/dc/terms/>

  SELECT ?description FROM ebi:chembl WHERE
  {
    ?entity dcterms:description ?description
  }
`, [{ entity }])).at(0)?.description
%>

<a href="<%= entity.value %>"><%= description?.value ?? entity.value %></a>