<% // https://github.com/idsm-src/server/blob/develop/service/src/main/webapp/templates/page/drugbank/Compound.vm

const imageUrl = entity.value.replace(/.+\/DB(.+)$/, 'https://idsm.elixir-czech.cz/chemweb/drugbank/compound/svg?id=$1')
%>

<table>
  <tbody>
    <tr>
      <th>Structure</th>
      <td>
        <svg data-source="<%= imageUrl %>"></svg>
      </td>
    </tr>
  </tbody>
</table>